@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  input,
  select,
  textarea {
    color: #111827; /* gray-900 */
  }

  label {
    color: #374151; /* gray-700 */
  }
}
